@model IEnumerable<RedeSocial.Domain.Entities.PostEntity>
@using Microsoft.AspNetCore.Identity;
@using RedeSocial.Domain.Entities;
@inject SignInManager<ProfileEntity> SignInManager
@inject UserManager<ProfileEntity> UserManager
@{
    ViewData["Title"] = "Index";
}


<div class="wrapper">
    <div class="content-page">
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Animes Community Social Feed</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-xxl-3 col-lg-6 order-lg-1 order-xxl-1">
                        <!-- start profile info -->
                        <div class="card">
                            <div class="card-body">
                                <div class="dropdown float-end">
                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Editar Perfil</a>
                                    </div>
                                </div>
                                <div class="d-flex align-self-start">
                                    <!-- <img class="d-flex align-self-start rounded me-2" src="assets/images/users/avatar-5.jpg" alt="Dominic Keller" height="48">-->
                                    <div class="w-100 overflow-hidden">
                                        <p class="mb-1 mt-1 text-muted"></p>
                                    </div>
                                </div>
                                <div class="list-group list-group-flush mt-2">
                                    <a asp-action="Create" class="list-group-item list-group-item-action text-primary border-0"><i class="fa fa-house me-1"></i> Nova Publicação</a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col -->
                    <div class="col-xxl-6 col-lg-12 order-lg-2 order-xxl-1">
                        @foreach (var item in Model)
                        {
                            <div class="card">
                                <div class="card-body pb-1">
                                    <div class="d-flex">
                                        <!--<img class="me-2 rounded" src="assets/images/users/avatar-5.jpg" alt="Generic placeholder image" height="32">-->
                                        <div class="w-100">
                                            <div class="dropdown float-end text-muted">
                                                @if(item.UserEmail == User.Identity!.Name)
                                                {
                                                <a href="#" class="dropdown-toggle arrow-none card-drop"
                                                   data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-ellipsis"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <!-- item-->
                                                    <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Editar</a>
                                                    <!-- item-->
                                                    <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item">Deletar</a>
                                                </div>
                                                }
                                            </div>
                                            <h5 class="mb-3">@item.UserEmail</h5>
                                            <p class="text-muted"><small>@Html.DisplayFor(modelItem => item.PublishDateTime)<span class="mx-1">⚬</span></small></p>
                                            <!-- <p class="text-muted"><small></small></p>-->
                                            <h5 class="text-muted m-0">@Html.DisplayFor(modelItem => item.Title)</h5>
                                        </div> <!-- end w-100-->
                                    </div> <!-- end d-flex -->
                                    <hr class="m-0" />
                                    <div class="my-3">
                                        <p><small>@Html.DisplayFor(modelItem => item.Description)"</small></p>
                                        <div class="row">
                                            <!--class="col-sm-8"-->
                                            <div class="text-center">
                                                <img src="~/Uploads/@item.PostUrlImage" alt="@Html.DisplayFor(modelItem => item.Title)" class="rounded me-1 mb-3 mb-sm-0 img-fluid figure-img" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div> <!-- end card-body -->
                </div> <!-- end card -->
                <!-- end news feeds -->
            </div>
        </div> <!--end row -->
    </div> <!-- container -->
</div>

